<!DOCTYPE html>
<html>
  <head>
    <title>Notification</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #fff;
        padding: 20px;
      }
      .email-container {
        border: 1px solid green;
        padding: 15px;
        border-radius: 5px;
      }
      .notification-title {
        font-weight: bold;
        color: #2c5282;
        margin-bottom: 10px;
      }
      a {
        color: green;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <h4>FloraLink Platform</h4>
      <p>Hello <%= firstname %>,</p><br />
      <% if (title) { %>
        <p class="notification-title"><%= title %></p>
      <% } %>
      <p><%= message %></p>

      <p>For more information go in system to view all in details</p>

      <p>If you need help, contact us at here.</p>
      <p>Regards,<br /><br /></p>
    </div>
  </body>
</html>
